# MongoDB Connection String (e.g. mongodb://username:password@host:port/database)
MONGODB_URI=<YOUR_MONGODB_URI>

# JSON Web Token Secret Keys
JWT_SECRET=<YOUR_JWT_SECRET>
JWT_REFRESH_SECRET=<YOUR_REFRESH_SECRET>

# Server configuration
PORT=5000

